{% extends 'base2.html.twig' %}

{% block content %}
    <section>
    <div class="row justify-content-center mb-5 pb-2 ">
    <section id="main-content">
    <section class="wrapper">
    <div class="row">
    <section class="hero-wrap hero-wrap-2" style="background-image: url('web/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
    <div class="col-md-9 ftco-animate text-center">

    <h1>List of grades</h1>

        <div class=table-responsive">
            <table class="table-hover table"  border="1">
                    <tr>

                        <th>{{  knp_pagination_sortable(pagination, 'subject', 'ex.idExam.subject') }}</th>
                        <th>{{  knp_pagination_sortable(pagination, 'teacher', 'ex.teacher.fullname') }}</th>
                        <th>{{  knp_pagination_sortable(pagination, 'pupil', 'ex.pupil.fullname') }}</th>
                        <th>{{  knp_pagination_sortable(pagination, 'grade', 'ex.grade') }}</th>

                    </tr>
                    {% for grade in pagination %} <tr>

                        <td>{{ grade.idExam.subject }}</td>
                        <td>{{ grade.teacher.fullname}}</td>
                        <td>{{ grade.pupil.fullname}}</td>
                        <td>{{ grade.grade}}</td>
                        <td> <a href="{{ path('updategrades',{'id':grade.idg}) }}">Update</a></td>
                        <td> <a href="{{ path('deletegrades',{'id':grade.idg}) }}">Delete</a></td>
                    </tr>


                    {% endfor %} </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div></div>
        </div>
    </section>

{% endblock %}