{% extends 'base2.html.twig' %}
{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <section class="hero-wrap hero-wrap-2" style="background-image: url('web/images/bg_2.jpg');">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text align-items-center justify-content-center">
                            <div class="col-md-9 ftco-animate text-center">
                                <h1 class="mb-2 bread">Update grades</h1>
                                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Dashboard > <i class="ion-ios-arrow-forward"></i></a></span> <span>Update grades <i class="ion-ios-arrow-forward"></i></span></p>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <br/>
                </section>
                <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
                    <div class="container">
                        <div class="row d-flex align-items-stretch no-gutters">
                            <form action="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="The subject" value={{ grade.subject }}>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="The session" value=""{{ grade.teacher }}>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="The duration" value=""{{ grade.pupil }}>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="The duration" value=""{{ grade.grade  }}>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Update" class="btn btn-primary py-3 px-5">
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </section> </section>
    </html>
{% endblock %}


{#<html>
<head>


</head>
<body><h1>Update a grade</h1>
<fieldset style="width: 50%">
    <form method="POST">
        Subject: <input type="text" name="subject" value="{{ grade.subject }}">
        <br/>
        Session: <input type="text" name="session" value="{{ grade.idExam.session }}"><br/>
        Teacher: <input type="text" name="teacher" value="{{ grade.teacher }}"><br/>
        Pupil: <input type="text" name="pupil" value="{{ grade.pupil }}"><br/>
        Grade: <input type="text" name="grade" value="{{ grade.grade }}"><br/>
        <br/>

        <input type="submit" value="Enregistrer">
    </form>
</fieldset>

</body>

</html>#}