<html>

<body>
<h1>Ajouter un examen</h1>

<fieldset style="width: 50%">
    {{ form_start(form) }}
    subject:* {{ form_widget(form.subject) }} </br>
    session:* {{ form_widget(form.session) }}</br>
    duration:* {{ form_widget(form.duration) }}</br>
    {{ form_widget(form.ajouter) }}</br>
    {{ form_end(form) }}
</fieldset>
</body>
</html>