
{% extends 'base.html.twig' %}

{% block content %}
<html>

<body>
<h1>Add an exam</h1>

    {{ form_start(form) }}
    subject:* {{ form_widget(form.subject) }} </br>
    session:* {{ form_widget(form.session) }}</br>
    duration:* {{ form_widget(form.duration) }}</br>
    {{ form_widget(form.ajouter) }}</br>
    {{ form_end(form) }}
</form>
</body>
</html>
{% endblock %}

